/* Обычный стиль для Radio.Group */
.ant-radio-group {
    /* Ваши стили здесь */
    cursor: default !important;
}

/* Стили для disabled Radio.Group */
.ant-radio-group.ant-radio-group-disabled {
    opacity: 1 !important; /* Отменить изменение прозрачности */
    cursor: default !important; /* Курсор по умолчанию */
}

/* Стили для disabled Radio в Radio.Group */
.ant-radio-wrapper.ant-radio-wrapper-disabled .ant-radio {
    background-color: #fff !important; /* Отменить изменение фона */
    border-color: #d9d9d9 !important; /* Отменить изменение цвета границы */
    cursor: default !important; /* Курсор по умолчанию */
}

/* Стили для текста disabled Radio */
.ant-radio-wrapper.ant-radio-wrapper-disabled {
    color: #000 !important; /* Отменить изменение цвета текста */
    cursor: default !important; /* Курсор по умолчанию */
}
