.question {
    width: fit-content;
    max-width: 90%;
    height: fit-content;
    border-radius: 16px;
    border: transparent 2px solid;
    padding: 16px;
    margin: 8px;
}

.question:hover, .question:focus, .question:active {
    cursor: pointer;
    border: purple 2px solid;
}

.active {
    border: rgba(128, 0, 128, 0.7) 2px solid;
    background: rgba(128, 0, 128, 0.07);
}